body {
    background-color: #04ADBF;
    color: #E9F8EA;
    font-family: "Helvetica Now Pro Text Black", Helvetica  ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #8C3041;
    color: white;
    font-family: "Helvetica Now Pro Text Black", Helvetica;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}